.card-plain {
  background-color: rgb(170,140,187);
  box-shadow: none;
  border-radius: 0;

  .card-body {
      padding-left: 5px;
      padding-right: 5px;
  }

  img {
      border-radius: $border-radius-extreme;
  }
}
